*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container-flex {
    display: flex;
    border: 1px solid red;
    background-color: beige;
    justify-content: space-evenly;
    
    flex-direction: row-reverse;
    /* align-items: flex-start;*/
   


}

.container-flex div{
    width: 100px;
    height: 50px;
    border: 2px solid yellow;
    background-color: aqua;
}

@media screen and (max-width:1000px) {
    .container-flex {
        flex-direction: column;
        background-color: blueviolet;
    }
    .container-flex div {
        font-size: 2em;
        color: blue;

    }
    section{
        flex-direction: column;
    }
    section img{
      
      width: 25%;!important
    }
    .content-text{
        text-align: center;
    }
    
}
section{
    height: 650px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
   
}
section img{
    margin: 20px;
    width: 30%;
}
main section:first-child{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

}
main section:last-child{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

main section:nth-child(3) {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

}
html{ scroll-behavior: smooth;}

.menu-container {
    background-color: #f6d365;
    display: flex;
    padding: 10px;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  width: 100%;

  top: 0;
}

.menu-container ul li{
    display: inline-block;
}
    
.menu-container a{
    /*display: inline-block;
    height: 50px;*/
    text-decoration: none;
}
.menu-container a:hover {
    font-size: 1.2em;
    color: royalblue;
}
header img {
    display: block;
    height: 650px;;
    width: 100%;
}
.content-text a {

   display: inline-block;
    width: 100px;
    height: 45px;
 
    border-radius: 20px;
    line-height: 35px;
    background: white;
    front: ;
    text-decoration: none;
    text-decoration: n;
    font-weight: bolder;
    font-family: fantasy;text-align: center;

}
.content-text a:hover{
    border: 1px solid blue;
}